"../week-01-python/10-0-assignment.py" 
"../week-01-python/10-1-assignment.py" 
"../week-01-python/10-2-assignment.py" 
"../week-01-python/10-3-assignment.py" 
"../week-01-python/10-4-assignment.py" 
"../week-01-python/10-5-assignment.py" 
"Assignment01-project-outline.py" 
"Assignment02-django-project.py" 
"Assignment03-bootstrap.py" 
"Assignment04-blog.py" 
